<div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>NodeJS</h1>
            </div>
        </div>
        
<div class="row justify-content--center">
  <div class=" justify-content-center">
    

    <div class="col">
      <div class="card border-info mb-3" style="max-width: 30rem;margin: 15rem 10rem;">
        <div class="card-header">Add Subject Info</div>
        <div class="card-body text-center">
          <h4 class="card-text">
            <a class="btn btn-info" href="/subject-form">Add Subject</a>
          </h4>
          
          
        </div>
      </div>
    </div>
  </div>

</div>