<div style="border-radius: 20px; margin: 100px 0px 0px 0px; background-color:rgb(255, 0, 230);" class="jumbotron">
    <div class="container">
        <h1>Hello {{first_name}} {{last_name}}!</h1>
        <p>You are registered with an email address of {{email}}</p>
        <p>Well done!</p>
    </div>
</div>